NODE_ENV=production
PORT=5000
DATABASE_URL=postgresql://cynthiamakes_db_owner:npg_VgFRy2l9WfML@ep-fragrant-mouse-a80l7k9h-pooler.eastus2.azure.neon.tech/cynthiamakes_db?sslmode=require
SESSION_SECRET=sua-chave-secreta-super-segura-aqui-production
